#mainpage__wrapper {
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0; 
}

#asidecontainer__wrapper {
    background: #4e86e0;
    opacity: 0.8;
}

#app-header__wrapper {
    background: #4e86e0;
}