body {
    font-family: 'Lato';
    margin: 0;

    &::after {
        background-image: url('~@/assets/images/Check-List.jpg');
        background-repeat: no-repeat, repeat;
        background-size: cover;
        // opacity: 0.5;
    }
}