.asidecontainer {
    text-align: center;
    font-size: 20px;

    h1.app-title {
        font-size: 50px;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .app-link {
        padding: 1px;
    }

    .app-link:hover {
        border: 1px solid #5595fc;
        color: #fff;
        padding: 0px;
    }
}